code {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.2em 0.4em;
    border-radius: 4px;
    color: rgb(0, 255, 242);
}

text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color: pink;
}

.data_container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: large;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    color: white;
    margin-bottom: 100px;
    margin-top: 100px;

    background-color: rgba(20, 20, 20, 0.8);
    border: 1px solid black;
    border-radius: 10px;
}

.data_container_panel {
    margin: 5px 5px 5px 5px;
}

.data_container_panel a {
    color: white;
}

.data_container_panel ul {
    list-style-type: square;
}

.data_container_panel .choose_OS button {
    transition-duration: 0.5s;
    font-size: 25px;
}

.data_container_panel .choose_OS button:hover {
    background-color: green;
    color: white;
}

#java_download_link,
#mariadb_download_link,
#dbeaver_download_link,
#database_configuration_link,
#register_configuration_link,
#loginserver_configuration_link,
#gameserver_configuration_link{
    cursor: pointer;
}