.data_container {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    color: rgb(253, 30, 0);
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}