.header_container {
    position: fixed;
    width: 99%;
    top: 0;
    margin-top: 5px;
}

.header_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10%;
}

.header_container li {
    float: left;
}

.header_container li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;

    padding-left: 15px;
    margin-top: 10px;
}

.header_container li img {
    display: block;
    width: 100%;
    margin-top: -10px;
}

.header_container li a:hover:not(.active) {
    color: gray;
}

.header_container .active {
    background-color: #04AA6D;
}

.header_container .dropdown {
    float: right;
    overflow: hidden;
}

.header_container .dropdown .dropBtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.header_container .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header_container .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header_container .dropdown-content a:hover {
    background-color: #ddd;
  }

  .header_container .dropdown:hover .dropdown-content {
    display: block;
}